---
import Layout from "../layouts/Layout.astro";
import Navbar from "@components/Navbar";
import ProductSection from "@components/ProductSection.astro";
import Footer from "@components/Footer.astro";
import WspButton from "@components/WspButton.astro";
import Hero from "@components/Hero.astro";
import ServicesSection from "@components/ServicesSection.astro";
import ContactSection from "@components/ContactSection.astro";
import Location from "@components/Location.astro";
---

<Layout title="Mi Tienda online">
  <main>
    <Navbar client:load />
    <Hero />
  <div class="mx-4">
		<ProductSection />
    <ServicesSection />
    <ContactSection />
    <Location />
	</div>
    <Footer />
    <WspButton />
  </main>
</Layout>
