<section id="about" class="pb-16 container">
  <div class="pt-32 mx-auto">
    <div class="flex flex-col ml-8 lg:ml-16">
      <h2
        class="text-[#F1666A] bg-black w-full pl-8 py-4 rounded-lg text-2xl md:text-4xl font-semibold md:mb-8"
      >
        Sobre Nosotros
      </h2>

    <div class="flex flex-col gap-8 mx-8 mt-16">
      <p>
        Somos fabricantes de productos de alta calidad, con el objetivo de
        satisfacer las necesidades de nuestros clientes.
      </p>
      <p>
        En <span class="font-semibold">Mi Tienda</span> , estamos dedicados a realzar la belleza interior y exterior de cada persona que cruza nuestras puertas. Nos apasiona brindar experiencias transformadoras que no solo embellecen, sino que también nutren el alma. Con años de experiencia en la industria de la belleza y el bienestar, nuestro equipo de profesionales está comprometido a proporcionar un servicio excepcional y resultados sobresalientes. En <span class="font-semibold">Mi Tienda</span> , no solo somos un destino de belleza, somos una comunidad acogedora que celebra la diversidad y la autenticidad de cada individuo. ¡Únete a nosotros en nuestro viaje hacia la autoexpresión y el cuidado personal!
      </p>
    </div>
    </div>
  </div>
</section>
