---
import ContactForm from "./ContactForm";
---

<section id="contact" class="w-full">
  <div class="grid lg:grid-cols-2 gap-8">
    <img
      class="lg:w-[600px] lg:h-[560px] rounded-xl"
      src="https://image.slidesdocs.com/responsive-images/background/a-3d-representation-of-a-relaxing-spa-treatment-powerpoint-background_77a8c8f8bd__960_540.jpg"
      alt=""
    />
  <div class="w-full flex flex-col gap-4">
      <h2
    class="text-[#F1666A] bg-black py-4 pl-8 rounded-lg text-2xl md:text-4xl font-semibold"
  >
    Contacto
  </h2>
    <ContactForm />
  </div>
  </div>
</section>
