---
import ContactForm from "./ContactForm";
---
<section class="relative flex flex-wrap lg:h-screen lg:items-center mt-32" id="contact">
  <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
    <img
      alt=""
      src="https://image.slidesdocs.com/responsive-images/background/a-3d-representation-of-a-relaxing-spa-treatment-powerpoint-background_77a8c8f8bd__960_540.jpg"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>
  <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-2xl font-bold sm:text-3xl">Contactanos</h1>

      <p class="mt-4 text-gray-500">
        Somos fabricantes de productos de alta calidad, con el objetivo de
        satisfacer las necesidades de nuestros clientes.
      </p>
    </div>

  <ContactForm />
  </div>
</section>
