---
const { title, img } = Astro.props;
---

<div
  class="w-fit p-6 md:p-12 flex flex-col mx-auto gap-2 justify-center items-center shadow-lg shadow-black rounded-md"
>
  <div class="flex justify-between bg-slate-100 p-4 w-full rounded-lg">
    <h2 class="text-2xl text-slate-900 font-semibold">{title}</h2>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      viewBox="0 0 24 24"
      ><path
        fill="#eab308"
        d="m12 17.275l-4.15 2.5q-.275.175-.575.15t-.525-.2q-.225-.175-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562q.1-.275.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15q.275 0 .537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45q.1.275.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437q-.225.175-.525.2t-.575-.15z"
      ></path></svg
    >
  </div>
  <img
    class="hover:grow hover:shadow-xl hover:grayscale object-cover w-[300px] h-[400px] rounded-xl"
    src={img}
  />
  <a href="#contact" class="text-lg text-slate-100 bg-pink-400 hover:bg-pink-300 w-full text-center p-2 rounded-md font-medium">Consultar</a>
</div>
