<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:items-center" id="services">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl mb-2">
        Nuestros Servicios
      </h2>

      <p class="text-sm md:text-lg text-gray-500 md:mt-4 md:block">
        En nuestro spa, utilizamos solo los productos más exclusivos y efectivos, formulados con ingredientes naturales y tecnologías innovadoras para garantizar una experiencia de belleza incomparable. Nos enorgullece ofrecer una amplia gama de servicios, desde manicuras y pedicuras hasta tratamientos corporales de lujo, todo diseñado para hacerte sentir radiante tanto por dentro como por fuera.
      </p>

      <div class="mt-4 md:mt-8">
        <a
          href="#contact"
          class="inline-block rounded-sm bg-emerald-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-emerald-700 focus:ring-3 focus:ring-yellow-400 focus:outline-hidden"
        >
          Reservar turno
        </a>
      </div>
    </div>
  </div>

  <img
    alt=""
    src="https://images.pexels.com/photos/3757942/pexels-photo-3757942.jpeg?auto=compress&cs=tinysrgb&w=600"
    class="h-full w-full object-cover sm:h-[calc(100%_-_2rem)] sm:self-end sm:rounded-ss-[30px] md:h-[calc(100%_-_4rem)] md:rounded-ss-[60px]"
  />
</section>