---
const { title } = Astro.props;
import "@fontsource-variable/space-grotesk";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="none" />
  </head>
  <body>
    <slot />
    <style is:global>
      body {
        font-family: "Space Grotesk Variable", sans-serif;
        background-color: #e5e5f7;
        opacity: 0.8;
        background-image: radial-gradient(#f1666a 0.5px, #e5e5f7 0.5px);
        background-size: 10px 10px;
      }
      html {
        scroll-behavior: smooth;
      }
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .hero {
        background-image: url("https://tahecosmetics.com/trends/wp-content/uploads/2022/06/historia-del-maquillaje.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
      }

      .hero2 {
        background-image: url("https://belleza-estetica.com.ar/wp-content/uploads/2024/01/belleza-estetica.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
      }

      .hero3 {
        background-image: url("https://peluqueria.addiweb.es/img/fotos/4273/fotoportada1.JPG");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
      }

      @media screen and (max-width: 768px) {
        .hero,
        .hero2,
        .hero3 {
          height: 50vh;
        }
      }

      .img_services {
        clip-path: polygon(42% 0, 100% 0, 100% 100%, 0 100%);
      }
    </style>
  </body>
</html>
